@font-face {
  font-family: 'LT Wave Light';
  src:
    url('../assets/fonts/LTWave-Light.woff2') format('woff2'),
    url('../assets/fonts/LTWave-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'LT Wave Medium';
  src:
    url('../assets/fonts/LTWave-Medium.woff2') format('woff2'),
    url('../assets/fonts/LTWave-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'LT Wave Black';
  src:
    url('../assets/fonts/LTWave-Black.woff2') format('woff2'),
    url('../assets/fonts/LTWave-Black.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'LT Wave Bold';
  src:
    url('../assets/fonts/LTWave-Bold.woff2') format('woff2'),
    url('../assets/fonts/LTWave-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Nulshok Bold';
  src:
    url('../assets/fonts/Nulshock-Bold.woff2') format('woff2'),
    url('../assets/fonts/Nulshock-Bold.woff') format('woff');
  font-display: swap;
}

@keyframes serviceSlideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes valuesRightFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes valuesLeftFadeIn {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes expand {
  0% {
    clip-path: circle(0% at 50% 50%);
    opacity: 0;
  }

  100% {
    clip-path: circle(150% at 50% 50%);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes compressSpacing {
  to {
    letter-spacing: 0em;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeInFast {
  to {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 72.5px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c2c2c2;
  z-index: 9999;
}

.spinner-logo {
  width: 100px;
  height: auto;
  animation: spin 2s linear infinite;
}

.no-scroll {
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 15px 40px;
  color: white;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

header.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}

.logo-container {
  display: flex;
  justify-content: flex-start;
}

.logo img {
  max-width: 200px;
  height: auto;
  animation: textFadeIn 1.7s ease-out backwards;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.05);
}

.nav-container {
  display: flex;
  justify-content: center;
  width: 69vw;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navbar-list a {
  text-decoration: none;
  color: #fdfdfe;
  font-family: 'LT Wave Light';
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 5px;
  padding: 10px;
  transition:
    color 0.4s ease,
    text-shadow 0.4s ease;
  animation: textFadeIn 1.7s ease-out backwards;
}

.navbar-list a:hover {
  color: #aec1b8;
  text-shadow:
    0 0 5px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar-list .active {
  color: #aec1b8;
  font-weight: bold;
  text-shadow:
    0 0 5px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(0, 0, 0, 0.5);
}

.language {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.language__button {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #fdfdfe;
  border-radius: 10px;
  padding: 5px;
  width: 60px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.language__button:hover {
  box-shadow: 0 0 6px 4px rgba(103, 106, 116, 0.6);
}

.language__arrow-icon {
  margin-left: 8px;
  vertical-align: middle;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.language__checkbox:checked + .language__button .language__arrow-icon {
  transform: rotate(0deg);
}

.language__icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.language__checkbox {
  display: none;
}

.language__dropdown {
  display: block;
  position: absolute;
  bottom: 52px;
  right: 0;
  height: 0;
  opacity: 0;
  transition:
    height 0.5s ease,
    opacity 0.3s ease;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #fdfdfe;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  width: 110px;
}

.language__dropdown img.language__icon {
  width: 18px;
  height: 18px;
}

.language__dropdown li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 37.5px;
  width: 100%;
  transition:
    transform 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.language__dropdown li:hover {
  transform: scale(1.05);
  background-color: rgba(196, 196, 196, 0.1);
  cursor: pointer;
}

.language__dropdown li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-family: 'LT Wave Light';
  font-size: 14px;
  text-decoration: none;
  color: #fdfdfe;
}

.language__dropdown li a img.language__icon {
  margin-right: 10px;
  margin-left: 8px;
}

.language__checkbox:checked + .language__button + .language__dropdown {
  height: 110px;
  opacity: 1;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#home {
  background-color: transparent;
  height: 100vh;
  margin-left: 50px;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
}

.scene {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.hero-scene {
  display: flex;
  align-items: center;
}

.title-home {
  font-family: 'Nulshok Bold', sans-serif;
  font-size: 13vh;
  line-height: 1;
  color: white;
  margin: 0;
}

.title-home.single {
  font-size: 9vh;
}

.title-line {
  display: block;
}

.title-flex {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.main-word {
  display: inline-block;
}

.subtitle-home {
  font-family: 'LT Wave Light', sans-serif;
  font-weight: lighter;
  font-size: 3vh;
  letter-spacing: 12px;
  line-height: 1.4;
  opacity: 0;
  white-space: nowrap;
  margin-top: 0.85em;
  margin-left: 1.3em;
}

.line {
  display: inline-block;
}

.letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(-80px);
  letter-spacing: 1em;
  white-space: nowrap;
}

.final-scene {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.final-scene img {
  width: 530px;
}

.social-bar {
  position: absolute;
  right: 200px;
  top: 35%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  animation: textFadeIn 1.7s ease-out backwards;
}

.social-text {
  font-family: 'LT Wave Light', sans-serif;
  font-weight: normal;
  writing-mode: vertical-rl;
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.social-icon img {
  width: 19px;
  height: 19px;
  filter: invert(1);
  transition: transform 0.2s ease;
}

.social-icon img:hover {
  transform: scale(1.12);
}

#services {
  width: 100%;
  background-color: #fefefe;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.services-wrapper {
  width: 100%;
  max-width: 1200px;
}

.services-tabs {
  position: relative;
  background-color: #FFFFFF;
  border: 4px solid #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
  display: flex;
  margin-bottom: 40px;
  opacity: 0;
}

.services-tabs.animate {
  opacity: 1;
  animation: textFadeIn 1.7s ease-out backwards;
}

.tab-highlight {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #837B93;
  border-radius: 30px;
  transition: transform 0.35s ease, width 0.35s ease;
  z-index: 0;
}

.service-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: 'LT Wave Bold';
  flex: 1;
  text-align: center;
  line-height: 0;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  color: #172655;
  border: none;
  border-radius: 30px;
  transition: background-color 0.35s, color 0.35s;
  z-index: 1;
}

.service-tab .tab-icon {
  filter: brightness(0) saturate(100%) invert(13%) sepia(18%) saturate(2681%) hue-rotate(201deg) brightness(95%) contrast(93%);
  transition: filter 0.35s ease;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.service-tab:hover:not(.animate) {
  color: rgb(108, 128, 190);
}

.service-tab:hover:not(.animate) .tab-icon {
  filter: brightness(0) saturate(100%) invert(40%) sepia(20%) saturate(500%) hue-rotate(200deg);
}

.service-tab.animate {
  color: #FFFFFF;
  z-index: 1;
}

.service-tab.animate .tab-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.services-slider {
  background-color: #FDFDFD;
  position: relative;
  width: 100%;
  min-height: 460px;
  border-radius: 20px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
}

.service-slide {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 460px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
  pointer-events: none;
  padding: 40px;
  box-sizing: border-box;
}

.service-slide.animate {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 2;
}

.slide-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 550px;
}

.slide-left h3 {
  font-family: 'LT Wave Bold';
  font-size: 32px;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 0px;
  color: #172655;
}

.slide-left p {
  font-family: 'LT Wave Medium';
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
  color: #172655;
  margin: 0px;
}

.extra-characteristic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.extra-characteristic h4 {
  font-family: 'LT Wave Medium';
  font-weight: lighter;
  font-size: 17px;
  color: #373435;
  text-align: center;
  margin: 0px;
}

.extra-characteristic img {
  width: 40px;
  height: 40px;
}

.slide-right img {
  width: 520px;
  object-fit: cover;
  border-radius: 20px;
  flex-shrink: 0;
}

@media (max-width: 900px) {
  .service-slide {
    flex-direction: column;
    text-align: center;
  }

  .slide-right img {
    width: 100%;
  }
}

.title.animate {
  opacity: 1;
  animation: textFadeIn 1.7s ease-out backwards;
}

.title {
  opacity: 0;
  color: #28325A;
  text-align: center;
  font-family: 'LT Wave Bold';
  font-size: 40px;
  margin-top: 0px;
}

#about-us {
  background-color: #fefefe;
}

.about-us-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 100px;
  justify-content: center;
  padding: 0 40px;
  align-items: stretch;
}

.card-about-us {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 70px;
  padding: 18px 22px 18px 40px;
  background-color: #fdfdfd;
  border-radius: 5px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.card-about-us:hover {
  transform: scale(1.02);
}

.image-card-about-us {
  position: absolute;
  left: -20px;
  width: 30px;
  height: 30px;
  padding: 8px;
  background-color: #A190C5;
  border-radius: 10px;
  object-fit: contain;
  flex-shrink: 0;
}

.description-card-about-us {
  font-family: 'LT Wave Medium';
  font-size: 20px;
  color: #28325A;
  text-align: left;
  margin-left: 5px;
  opacity: 0;
}

.description-card-about-us.animate {
  opacity: 1;
  animation: textFadeIn 1.7s ease-out backwards;
}

.about-us-values {
  background-color: #F0EEF6;
  margin: 60px;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.about-us-values .title {
  text-align: center;
  font-size: 42px;
  font-family: 'LT Wave Medium';
  color: #1c2a5b;
  margin-bottom: 40px;
  line-height: 1.3;
}

.values-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 40px 120px;
  align-items: start;
}

.values-image {
  grid-column: 1;
  grid-row: 1 / span 2;
  opacity: 0;
}

.values-image.animate {
  opacity: 1;
  animation: textFadeIn 1.7s ease-out backwards;
}

.values-image img {
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.values-image img:hover {
  transform: scale(1.02);
}

.flexibility {
  grid-column: 2;
  grid-row: 1;
}

.agility {
  grid-column: 2;
  grid-row: 2;
}

.values-bottom {
  grid-column: 1;
  grid-row: 3;
}

.team {
  grid-column: 2;
  grid-row: 3;
}

.value-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  opacity: 0;
}

.value-item.animate {
  opacity: 1;
  animation: textFadeIn 1.7s ease-out backwards;
}

.value-item h3 {
  font-size: 26px;
  font-family: 'LT Wave Bold';
  color: #1c2a5b;
  margin: 0px;
}

.value-item p {
  font-size: 18px;
  font-family: 'LT Wave Light';
  color: #1c2a5b;
  line-height: 1.4;
  text-align: left;
  margin: 0px;
}

.values-content hr {
  border: none;
  border-top: 1px solid #28325A;
  width: 100%;
  margin: 0px;
}

.values-bottom {
  opacity: 0;
}

.values-bottom.animate {
  opacity: 1;
  animation: textFadeIn 1.7s ease-out backwards;
}

.values-bottom h3 {
  font-size: 26px;
  font-family: 'LT Wave Bold';
  color: #1c2a5b;
  margin: 0px;
}

.values-bottom p {
  font-size: 18px;
  font-family: 'LT Wave Light';
  color: #1c2a5b;
  line-height: 1.4;
  text-align: left;
  margin: 0px;
}

#our-network {
  background-color: #fefefe;
  padding: 30px 30px;
}

.network-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.network-info.animate {
  opacity: 1;
  animation: valuesRightFadeIn 1.7s ease-out backwards;
}

.network-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  width: 40%;
}

.network-info p {
  text-align: left;
  color: #373435;
  font-family: 'LT Wave Medium';
  font-size: 22px;
}

.network-map.animate {
  opacity: 1;
  animation: expand 3s ease-out backwards;
}

.network-map {
  opacity: 0;
  flex: 1;
  height: auto;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.network-map img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 30px;
  box-shadow: 8px 15px 20px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.network-map img:hover {
  transform: scale(1.02);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
  filter: brightness(0.8);
}

.modal {
  visibility: hidden;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0s 0.3s;
}

.modal.show {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.3s ease,
    visibility 0s;
}

.modal-content {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
}

.close {
  color: #fff;
  font-size: 8vh;
  font-weight: bold;
  position: absolute;
  padding-right: 2vw;
  padding-top: 1vh;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 5;
}

#caption {
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
}

#contact {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#contact .title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 0;
  color: #fff;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 40px;
}

.contact-logo.animate {
  opacity: 1;
  animation: valuesRightFadeIn 1.7s ease-out backwards;
}

.contact-logo {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.contact-logo:hover {
  transform: scale(1.02);
}

.contact-logo img {
  max-width: 100%;
}

.contact-form.animate {
  opacity: 1;
  animation: valuesLeftFadeIn 1.7s ease-out backwards;
}

.contact-form {
  opacity: 0;
  width: 40%;
}

.contact-info.animate {
  opacity: 1;
  animation: textFadeIn 1.7s ease-out backwards;
}

.contact-info {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  text-decoration: none;
}

#contact-form-title {
  font-family: 'LT Wave Bold';
  font-size: 32px;
  color: #fefefe;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 49%;
}

form input,
form textarea {
  background-color: rgba(254, 254, 254, 0.2);
  color: #fefefe;
  font-size: 18px;
  border: 2px solid #fefefe;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}

form input::placeholder,
form textarea::placeholder {
  color: #fefefe;
  font-family: 'LT Wave Light';
  font-weight: lighter;
  font-size: 18px;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}

form textarea {
  height: 150px;
  resize: vertical;
  width: 100%;
}

form button {
  background-color: rgba(254, 254, 254, 0.65);
  color: #fefefe;
  border: none;
  padding: 15px 0px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 225px;
  font-family: 'LT Wave Medium';
  font-weight: lighter;
  font-size: 18px;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: rgba(254, 254, 254, 0.5);
}

#contact-mail {
  color: #fefefe;
  font-family: 'LT Wave Medium';
  font-weight: lighter;
}

#mail-logo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 300px;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 60px;
  border-top: 1px solid #e5e5e5;
}

.footer-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: start;
}

.footer-column h4 {
  font-family: 'LT Wave Black';
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #000;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 18px;
}

.footer-column a {
  text-decoration: none;
  color: #373435;
  font-family: 'LT Wave Medium';
  font-size: 16px;
  position: relative;
  padding-left: 16px;
}

.footer-column li a::before {
  content: "›";
  position: absolute;
  left: 0;
  color: #373435;
}

.footer-contact {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-column.contact a {
  position: static;
  padding-left: 0;
}

.footer-column p {
  margin: 0px;
}

.footer-contact img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-brand img {
  width: 300px;
  margin-bottom: 20px;
}

.footer-brand p {
  font-family: 'LT Wave Medium';
  font-size: 14px;
  color: #373435;
  text-align: center;
  margin: 0;
}

footer a {
  transition: transform 0.3s ease;
}

footer a:hover {
  transform: scale(1.02);
}

footer li {
  transition: transform 0.3s ease;
}

footer li:hover {
  transform: scale(1.02);
}

section {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-title {
  margin-left: 2vh;
  margin-bottom: 0;
  font-family: 'LT Wave Bold';
  font-size: 8vh;
  color: #fefefe;
}

.error-message {
  margin-left: 2vh;
  margin-top: 1vh;
  font-family: 'LT Wave Bold';
  font-size: 4vh;
  color: #fefefe;
}

.error-back-button {
  margin-left: 2vh;
  background-color: rgba(254, 254, 254, 0.65);
  color: #fefefe;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 225px;
  font-family: 'LT Wave Medium';
  font-weight: lighter;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.error-back-button:hover {
  background-color: rgba(254, 254, 254, 0.5);
}